### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pem
Local/*.csv
Shell/
Historico/*.csv
Test/
config.ini
Dockerfile
.idea
.ipynb_checkpoints
.DS_Store
.idea/
.ipynb_checkpoints/