### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pem
Local/
Shell/
Historico/
config.ini
Dockerfile
.idea
.ipynb_checkpoints
.DS_Store
.idea/
.ipynb_checkpoints/

